body {
  background-color: #000080; /* azul marinho */
  color: #ADD8E6;            /* azul claro */
  font-family: Arial;
  font-style: italic;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}